<div id="<%= dom_id property %>">
  <p>
    <strong>Event:</strong>
    <%= property.event_id %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= property.due_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= property.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= property.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= property.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= property.description %>
  </p>

  <p>
    <strong>Property type:</strong>
    <%= property.property_type %>
  </p>

  <p>
    <strong>Bid withdrawal:</strong>
    <%= property.bid_withdrawal %>
  </p>

  <p>
    <strong>Deed type:</strong>
    <%= property.deed_type %>
  </p>

  <p>
    <strong>Document fees:</strong>
    <%= property.document_fees %>
  </p>

  <p>
    <strong>Security fee:</strong>
    <%= property.security_fee %>
  </p>

  <p>
    <strong>Emd amount:</strong>
    <%= property.emd_amount %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= property.area %>
  </p>

  <p>
    <strong>Reserve price:</strong>
    <%= property.reserve_price %>
  </p>

</div>
